.popup__text {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0;
  margin-bottom: 17px;
  margin-top: 30px;
  padding: 0;
  outline: none;
}

.popup__text:first-child {
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 450px) {
  .popup__text {
    margin-bottom: 14px;
  }
}